

.contact {


    min-height: 40vh;
    display: flex;
    flex: 0 0 95%;
    margin-left: 10%;
    justify-content: center;
    margin-bottom: 20rem;

    background-image: url(../img/pexels-snapwire-292426.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    form { 
        margin-top: 1.4rem;
        font-size: 6rem;
    }

    label  {
        display: block;
        color: #ffcff1;
        margin-left: 1rem;
        position: absolute;
        z-index: 100;
        border-bottom: 2px solid #ffcff1;
    }


    input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid fff;
    border-top: 1px solid fff;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    
    &:hover {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }

      &:focus-visible {
          outline: none;
      }

    }
    


    textarea {
        background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid fff;
    border-top: 1px solid fff;
    border-radius: 500rem;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    
    &:hover {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }
        
        &:focus {
            outline: none;
        }
        
    }


    button {
        border-radius: 440px;
        background-color: #ffcff1;
        color: #000000;
        font-weight: 700;
        width: 50%;

    }

}